body {
  background-color: rgb(179, 203, 223);
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3%;
  /* text-align: center; */
}

.forest {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.treeWrapper {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  height: 500px;
  flex: 1 0 21%;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-family: "Roboto Mono", sans-serif;
}

.info-table {
  border-collapse: collapse;
  font-size: 1rem;
  font-family: "Roboto Mono", sans-serif;
  padding: 20px;
  margin: 20px auto 0 auto;
}

td,
th {
  border: 1px solid gray;
  padding: 10px;
  margin: 0;
}

.grid {
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* padding-left: 10%; */
}

.cell {
  padding: 10px;
  display: inline-block;
  border: 1px solid #424242;
  background-color: rgb(19, 19, 19);
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
}

.open {
  background-color: rgb(210, 216, 221);
}

.fully-open {
  background-color: rgb(0, 93, 170);
}

.error {
  color: rgb(146, 42, 42);
}

button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 15px;
  text-align: center;
  background-color: rgb(61, 61, 61);
  font-size: 1.2rem;
  color: rgb(231, 231, 231);
}

button.small {
  font-size: 0.8rem;
}

.buttons {
  padding-top: 2%;
  padding-bottom: 5%;
}

button:disabled {
  background-color: rgb(172, 172, 172);
}

button:disabled:hover {
  background-color: rgb(172, 172, 172);
  cursor: default;
}

button:hover {
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}

button:active {
  background-color: rgb(36, 36, 36);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding: 5px;
  font-size: 1.1rem;
  text-align: center;
  width: 15%;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgb(179, 203, 223);
}

.no {
  background-color: rgb(139, 55, 55) !important;
}

.yes {
  background-color: rgb(88, 153, 88);
}
